/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button
{
  -fx-color: rgba(28,110,164,0.78);
  -fx-background: #144E75;
}
.root
{
	-fx-background-color:rgb(194, 255, 87);
}